@import url('https://fonts.googleapis.com/css2?family=El+Messiri&display=swap');

/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}

body {
  font-family: 'El Messiri', sans-serif;
}

h1 {
  text-align: center;
  padding: 20px 0;
  font-size: 2rem;
}

h1 i {
  color: #263238;
  padding: 0 10px;
  font-size: 2.5rem;
}

#new-book {
  padding: 15px;
  font-weight: 600;
  font-size: 1.2rem;
}

#new-book.active {
  display: block;
}

#new-book.in-active {
  display: none;
}

form {
  display: none;
}

form.active {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 100%;
}

.form-container {
  background-color: #90a4ae;
  flex-direction: column;
  width: 80%;
  margin: 0 auto;
  padding: 20px 0;
  box-shadow:
    inset 0 -3em 3em rgba(0, 0, 0, 0.1),
    0 0 0 2px rgb(255, 255, 255),
    0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
  border-radius: 5px;
}

.form-group {
  flex-direction: column;
  font-size: 1.3rem;
  padding: 0 10px;
}

.d-flex {
  display: flex;
  flex-wrap: wrap;
}

.flex-center {
  align-items: center;
  justify-content: center;
}

.books {
  flex-direction: column;
  padding: 20px 0;
}

.books h2 {
  padding: 0 0 10px;
  font-size: 1.5rem;
}

table {
  border-collapse: collapse;
  width: 80%;
  box-shadow:
    inset 0 -3em 3em rgba(0, 0, 0, 0.1),
    0 0 0 2px rgb(255, 255, 255),
    0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
}

th {
  background-color: #90a4ae;
  color: #fff;
  padding: 15px 0;
  font-size: 1.1rem;
}

td {
  border: none;
  padding: 20px;
  font-size: 1.2rem;
  text-align: center;
}

tr:nth-child(even) {
  background-color: rgb(211, 211, 211);
}

tr:hover {
  background-color: #dfe5ea;
}

button,
input[type=submit] {
  background: #37474f;
  padding: 8px 15px;
  border: none;
  color: #fff;
  border-radius: 2px;
  border-radius: 5px;
}

button:hover,
input[type=submit]:hover,
#new-book:hover {
  opacity: 0.5;
}

input[type=text],
input[type=number] {
  padding: 5px;
  border-radius: 5px;
  border: none;
}

.alert {
  position: relative;
  padding: 8px 0;
  font-weight: 500;
  font-size: 1.3rem;
  width: 80%;
  text-align: center;
  margin: 10px auto;
}

.alert-success {
  border: solid 1px green;
  color: green;
}

.alert-danger {
  border: solid 1px red;
  color: red;
}

.close-btn {
  position: absolute;
  color: inherit;
  background-color: inherit;
  font-size: inherit;
  font-weight: 600;
  right: 0;
  top: 0;
  bottom: 0;
  border-left: inherit;
  border-radius: inherit;
}

.close-btn:hover {
  background-color: rgb(248, 164, 164);
  color: #fff;
}
